APDescription.txt
MTPs-Main-Container.txt
AOTidf_ass2/*.classpath
AOTidf_ass2/*.settings
AOTidf_ass2/*.project


# eclipse project file
.settings/
.classpath
.project
/.classpath
/*.project
/.settings

 
.metadata
tmp/
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
